body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.frame {
    position: relative;
    width: 100%; /* Gunakan 100% lebar skrin */
    max-width: 90vw; /* Maksimum 90% daripada lebar viewport */
    max-height: 90vh; /* Maksimum 90% daripada tinggi viewport */
    aspect-ratio: 1 / 1; /* Kekalkan nisbah segi empat sama */
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
}

#photoFrame, #uploadedCanvas {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain; /* Kekalkan nisbah */
    z-index: 1;
}

.upload-btn, .download-btn {
    margin-top: 20px;
    padding: 10px 20px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.upload-btn {
    background-color: #4CAF50;
}

.upload-btn:hover {
    background-color: #45a049;
}

.download-btn {
    background-color: #008CBA;
}

.download-btn:hover {
    background-color: #007B9A;
}

select {
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
