body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.frame {
    position: relative;
    width: 70%;  /* Adjust to a percentage to make it responsive */
    max-width: 500px; /* Maximum width */
    height: auto; /* Adjust height to match the image's aspect ratio */
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #000;
}

#photoFrame {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;  /* Keep the frame ratio */
    z-index: 1;  /* Frame stays in front */
}

#uploadedImage {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;  /* Crop the image if necessary to fit */
    display: none;
    z-index: 0;  /* Image stays behind the frame */
}

.upload-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.upload-btn:hover {
    background-color: #45a049;
}

.download-btn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.download-btn:hover {
    background-color: #007B9A;
}
